

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
	height: 60px;
}

.page-header {
	width: 100%;
	margin-top: 0;
	position: absolute;
}
#header-pad {
	padding-top: 70px;
}


header {
	margin: 0 auto;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
}


/* COLOR
Cornucopia Palette
http://www.colourlovers.com/palette/2669359/LiveAsWeDreamAlone

main red		#9B0231
pinkish			#B8154E
maroon-pink		#B57283
light teal 		#AED0C0
ocean			#94BBB6

*/
#footer {
	background-color: #AED0C0;
}



#main-red {	
	background-color: #9B0231;
}
#pinkish {	
	background-color: #B8154E;
}
#maroon-pink {	
	background-color: #B57283;
}
#light-teal {	
	background-color: #AED0C0;
}
#ocean {	
	background-color: #94BBB6;
}